<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teoan.blogserver.mapper.TagsMapper">

    <resultMap type="com.teoan.blogserver.entity.Tags" id="TagsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tagname" column="tagName" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TagsMap">
        select
          id, tagName
        from vueblog2.tags
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TagsMap">
        select
          id, tagName
        from vueblog2.tags
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TagsMap">
        select
          id, tagName
        from vueblog2.tags
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="tagname != null and tagname != ''">
                and tagName = #{tagname}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into vueblog2.tags(tagName)
        values (#{tagname})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update vueblog2.tags
        <set>
            <if test="tagname != null and tagname != ''">
                tagName = #{tagname},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from vueblog2.tags where id = #{id}
    </delete>


    <delete id="deleteTagsByAid">
        delete from article_tags where aid=#{id}
    </delete>

    <insert id="saveTags">
        insert into vueblog2.tags(tagName)
        values
        <foreach collection="tags" item="tag" separator=",">
            (#{tag})
        </foreach>
    </insert>

    <select id="getTagsIdByTagName" resultType="Integer">
        select id from tags where tagName in 
        <foreach collection="tagNames" item="tagName" separator="," open="(" close=")">
            #{tagName}
        </foreach>
    </select>

    <insert id="saveTags2ArticleTags">
        insert into article_tags(aid,tid) values
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{aid},#{tagId})
        </foreach>
    </insert>



</mapper>